[submodule "ros2_ws/src/third_party/gaden"]
	path = ros2_ws/src/third_party/gaden
	url = git@github.com:MAPIRlab/gaden.git
[submodule "ros2_ws/src/third_party/olfaction_msgs"]
	path = ros2_ws/src/third_party/olfaction_msgs
	url = https://github.com/MAPIRlab/olfaction_msgs.git
[submodule "ros2_ws/src/third_party/GSL"]
	path = ros2_ws/src/third_party/GSL
	url = https://github.com/MAPIRlab/GasSourceLocalization.git
[submodule "ros2_ws/src/third_party/GMRF-wind"]
	path = ros2_ws/src/third_party/GMRF-wind
	url = https://github.com/MAPIRlab/GMRF-wind.git
[submodule "ros2_ws/src/third_party/voxeland"]
	path = ros2_ws/src/third_party/voxeland
	url = git@github.com:MAPIRlab/Voxeland.git
[submodule "ros2_ws/src/third_party/instance_segmentation"]
	path = ros2_ws/src/third_party/instance_segmentation
	url = https://github.com/MAPIRlab/instance_segmentation.git
[submodule "ros2_ws/src/third_party/vision_msgs"]
	path = ros2_ws/src/third_party/vision_msgs
	url = https://github.com/ros-perception/vision_msgs.git
[submodule "ros2_ws/src/third_party/magic_enum"]
	path = ros2_ws/src/third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "ros2_ws/src/third_party/BasicSim"]
	path = ros2_ws/src/third_party/BasicSim
	url = https://github.com/PepeOjeda/BasicSim.git
[submodule "ros2_ws/src/third_party/ament_imgui"]
	path = ros2_ws/src/third_party/ament_imgui
	url = https://github.com/PepeOjeda/ament_imgui.git
